{% extends "home/base.html" %}

{% load static %}

{% block body %}

<h1 style="font-weight: bold;">
    Videos
</h1>
<hr>

<div class="row">
    {% for video in videos %}
    <!--div class="card" style="width: 18rem;"-->
    <div class="col-lg-4 col-md-6">
        <a href="{{ video.url }}" target="_blank">
            <img src="{{ video.thumbnail.url }}" class="card-img-top" alt="...">
        </a>
        <!--div class="card-body"-->
        <br><br>
        <h5 class="card-title">{{ video.title|truncatechars:30 }}</h5>
        <p class="card-text">{{ video.description|truncatechars:100 }}</p>
        <a href="{% url 'blog' %}" class="btn btn-primary">Explore more</a>
        <!--/div-->
    </div>
    {% endfor %}
</div>

</div>

{% endblock %}